@font-face {
    font-family: 'sf_retroesqueoblique';
    src: url('sf-retroesque.oblique-webfont.woff2') format('woff2'),
         url('sf-retroesque.oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sf_retroesque_fxoblique";
    src: url('sf-retroesque.fx-oblique-webfont.woff2') format('woff2'),
         url('sf-retroesque.fx-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "skylineregular";
    src: url('skyline-webfont.woff2') format('woff2'),
         url('skyline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
}

.title-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-around;
    font-family: skylineregular;
    height: 140px;
}

.skyline-title {
    color: black;
    background-color: white;
    font-size: 45px;
    font-family: 'sf_retroesqueoblique';
    margin: 0;
    letter-spacing: 0;
}

.skyline-footer {
    color: black;
    background-color: white;
    font-size: 100px;
    font-family: 'skylineregular';
    margin: 0;
    text-overflow: clip;
}

.stacker-title {
    margin-top: 0px;
    font-size: 50px;
    font-family: 'sf_retroesque_fxoblique';
    letter-spacing: 0.05em;
}

.footer-div {
    color: black;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: center;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    background-color: black;
    overflow: hidden;
}

.fa-github,
.fa-linkedin,
.fa-angellist {
    transition: all .2s ease-in-out;
}

.fa-volume-down:hover,
.fa-volume-up:hover,
.fa-volume-mute:hover,
.fa-play:hover,
.fa-pause:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-angellist:hover,
.fa-times-circle:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fa-heart {
    //font-size: 15px;
    color:black;
    margin-left: 2px;
    margin-right: 2px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
}

i {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-question-circle {
    color:black;
    text-decoration: none;
    font-size: 40px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.fa-times-circle {
    text-align: left;
}

.fa-volume-down,
.fa-volume-up,
.fa-volume-mute,
.fa-play,
.fa-pause,
.fa-times-circle,
.fa-arrow-circle-right {
    color:black;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 30px; 
    transition: all .2s ease-in-out;   
}

a {
    text-decoration: none;
}

canvas {
    border: 2px solid black;
    height: 700px;
    width: 800px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

html {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.img-div {
    position: relative;
    border: 2px solid black;
    height: 700px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.img-block {
    height: 25px;
    width: 25px;
}

.img-pieces-div {
    display: none;
}

.tower-img {
    bottom: 0;
    display: none;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.left-celeb-img,
.middle-celeb-img,
.right-celeb-img, 
.full-celeb-img {
    bottom: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}
.draw-div {
    position: relative;
}

.scores-div {
    position: relative;
    border: 2px solid black;
    height: 700px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    padding-left: 5px;
}

.current-score-div {
    margin-left: 5px;
}

.high-score-div {
    margin-left: 5px;
}

.canvas-div {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 720px;
    width: 100%;
    overflow-x: hidden;
}

.start-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 10px;
}

.start-button {
    background-color: transparent;
    color:black;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 30px; 
    border: none;
    font-family: 'sf_retroesque_fxoblique';
    letter-spacing: 0.05em;
    transition: all .2s ease-in-out;
    outline: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.start-button:hover,
.fa-arrow-circle-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.game-info {
    background: transparent;
    border: none;
    transition: all .2s ease-in-out;
}

.game-info:focus {
    outline: 0;
}

.game-info:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 60%; 
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.audio-player{
    display: hidden;
}

.audio-controls-div{
    position: absolute;
    bottom: 2px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: black;
    background-color: black;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-div {
    display: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
}

.fa-volume-down,
.fa-volume-up,
.fa-volume-mute,
.fa-play,
.fa-pause{
    color: white;
    font-size: 20px;
    margin-left: 1px;
    margin-right: 1px;
    transform: translate(0px, -10px);
}

.fa-volume-down:before,
.fa-volume-up:before,
.fa-volume-mute:before,
.fa-play:before,
.fa-pause:before{
    text-align: center;
    justify-self: center;
    align-content: center;
    
}

.fa-arrow-circle-right:before{
    color: black;
}




